body {
    background: black;
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    font-family: Arial, sans-serif;
}

#boot,
#content {
    text-align: center;
}

#boot {
    color: #00ffff;
    font-size: 40px;
    letter-spacing: 8px;

    text-shadow:
        0 0 10px #00ffff,
        0 0 20px #00ffff;
}

#content {
    display: none;
}

.logo {
    width: 500px;

    filter:
        drop-shadow(0 0 10px #00ffff)
        drop-shadow(0 0 40px #00ffff);
}

#enter {
    display: none;

    margin-top: 40px;

    color: #00ffff;
    font-size: 24px;
    letter-spacing: 10px;

    animation: blink 1s infinite;
}

#login {
    display: none;
    margin-top: 40px;
}

.prompt {
    color: #00ffff;
    font-size: 24px;
    letter-spacing: 5px;
}

#username {
    color: #00ffff;
    font-size: 32px;
    font-family: Consolas, monospace;
}

#terminal-screen {
    display: none;

    width: 1000px;
    max-width: 90vw;

    height: 80vh;

    margin-top: 30px;

    overflow-y: auto;
    overflow-x: hidden;

    padding-bottom: 80px;
    box-sizing: border-box;

    color: #00ffff;

    font-family: Consolas, monospace;
    font-size: 22px;
    line-height: 1.8;

    text-align: left;

    scrollbar-width: none;
}

#terminal-screen::-webkit-scrollbar {
    display: none;
}

#terminal {
    white-space: pre-wrap;
}

#cursor {
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}